.backgroundImg{
    background-image:url("src/assets/used-car-photo-12-scaled.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* margin: 0; */
    z-index: -1;
}
